/* 1. #212121
2. #424242
3. #616161 */

.sidebar-container {
    width: 300px;
    float: left;
}

@media print, screen and (max-width: 960px) {
    .sidebar-container {
        width: auto;
        float: none;
    }

    .social-media-li:hover {
        transform: none !important;
    }
}

.sidebar-header {
    text-align: center;
    padding-top: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #212121;
}

.headshot {
    width: 150px;
}

.sidebar-header img {
    max-width: 100%;
    border-radius: 50%;
    margin: auto;
}

.social-media {
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
}

.social-media-li {
    cursor: pointer;
    line-height: 45px;
    transition: transform .2s;
}

.social-media-img {
    width: 40px;
    font-size: 32px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.social-media-text {
    margin-left: 5%;
    vertical-align: middle;
    display: inline-block;
}

.social-media-li:hover {
    transform: scale(1.1);
}

.social-media-li a {
    text-decoration: none;
    color: #212121;
}