html {
    background: #ecebeb;
}

/* .sas,
.project,
.about,
.experience {
  display: flex;
  height: 90vh;
  margin: auto;
  width: 72vw;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
} */

.about {
    align-items: start;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.body-card {
    background: #fff;
    text-align: left;
    /* font-size: 18px; */
    border-radius: 2px;
    display: flex;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 95%;
}

.card-title {
    padding: 1rem;
}

.img-class-1 { 
    float: right;
    height: 600px;
    margin-left: 15px;
}

.img-class-2 { 
    height: 200px;
    margin: auto;
}

.body-container {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
}

.wrapper {
    background: #ecebeb;
}

.content-wrapper {
    width: 80vw;
    margin: auto;
}

.inline-link {
    color: #8064A2;
}

.experience-grid {
    height: 250px;
}

.experience-grid-1 {
    float: left;
    width: 30%;
}

.experience-grid-2 {
    float: right;
    width: 70%;
}

.collapse-chevron {
    vertical-align: middle !important;
    padding-right: 0.5em;
    float: right;
    font-size: 40px !important;
}
