html {
    background: #ecebeb;
}

/* .sas,
.project,
.about,
.experience {
  display: flex;
  height: 90vh;
  margin: auto;
  width: 72vw;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
} */

.about {
    align-items: start;
}

.about-text-area {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.about-img-area {
    display: inline-block;
    width: 40%;
    margin-bottom: 5px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.body-card {
    background: #fff;
    text-align: left;
    /* font-size: 18px; */
    border-radius: 2px;
    display: flex;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 95%;
}

.card-title {
    padding: 1rem;
}

.img-class-1 { 
    float: right;
    height: 600px;
    margin-left: 15px;
}

.img-class-2 { 
    height: 200px;
    margin: auto;
}

.img-class-3 { 
    height: 65px;
}

.body-container {
    width: 1200px;
    float: right;
}

@media print, screen and (max-width: 960px) {
    .content-wrapper {
        width: 90vw !important;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .body-container {
        width: auto;
        float: none;
    }

    .img-class-1 { 
        height: inherit;
        width: inherit;
    }

    .img-class-3 { 
        height: 40px;
    }

    .about-text-area {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 16px;
    }
    
    .about-img-area {
        display: inline-block;
        width: 100%;
        margin-bottom: 16px;
    }

    .experience-grid {
        height: fit-content;
    }

    .experience-grid-1 {
        float: none;
        width: 100% !important;
    }
    
    .experience-grid-2 {
        float: none;
        width: 100% !important;
    }
}


.wrapper {
    background: #ecebeb;
}

.content-wrapper {
    width: 80vw;
    margin: auto;
    margin-bottom: 16px;
}

.inline-link {
    color: #8064A2;
}

.experience-grid {
    height: 250px;
}

.experience-grid-1 {
    float: left;
    width: 30%;
}

.experience-grid-2 {
    float: right;
    width: 70%;
}

.collapse-chevron {
    vertical-align: middle !important;
    padding-right: 0.5em;
    float: right;
    font-size: 40px !important;
}

.card-title-2 {
    font-size: 2.2rem;
    font-style: italic;
    padding-left: 20px;
    padding-top: 15px;
}

.card-title-3 {
    font-size: 2.2rem;
    display: inline-block;
    font-style: italic;
    padding-left: 20px;
}
